RESEND_API_KEY=
RESEND_FROM_EMAIL=
QUOTE_RECIPIENT_EMAIL=janwrojas@hdc-tiberi.com
NEXT_PUBLIC_SITE_URL=https://carroceriastiberi.cl
NEXT_PUBLIC_WHATSAPP_NUMBER=56993135317
NEXT_PUBLIC_GOOGLE_MAPS_URL=https://maps.app.goo.gl/4FnzLz8iM7FXrguC6
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-G9EVZTK7NX
TURNSTILE_SECRET_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
